<div>
    <h2>
        <span jhiTranslate="webApp.employee.home.title">Employees</span>
        <button class="btn btn-primary float-right jh-create-entity create-employee" [routerLink]="['/', { outlets: { popup: ['employee-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="webApp.employee.home.createLabel">
            Create new Employee
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="employees">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="firstname"><span jhiTranslate="webApp.employee.firstname">Firstname</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastname"><span jhiTranslate="webApp.employee.lastname">Lastname</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="middlename"><span jhiTranslate="webApp.employee.middlename">Middlename</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="phone"><span jhiTranslate="webApp.employee.phone">Phone</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span jhiTranslate="webApp.employee.email">Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="birthDate"><span jhiTranslate="webApp.employee.birthDate">Birth Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="workingSince"><span jhiTranslate="webApp.employee.workingSince">Working Since</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employee of employees ;trackBy: trackId">
                <td><a [routerLink]="['../employee', employee.id ]">{{employee.id}}</a></td>
                <td>{{employee.firstname}}</td>
                <td>{{employee.lastname}}</td>
                <td>{{employee.middlename}}</td>
                <td>{{employee.phone}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.birthDate | date:'mediumDate'}}</td>
                <td>{{employee.workingSince | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../employee', employee.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'employee/'+ employee.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'employee/'+ employee.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="employees && employees.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
